<!-- This configuration file is required if iisnode is used to run node processes behind IIS or IIS Express. For more information, visit: https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config -->
<configuration>
	<system.webServer>
		<handlers>
			<!-- indicates that the app.js file is a node.js application to be handled by the iisnode module -->
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
				<rule name="StaticContent">
					<action type="Rewrite" url="public{REQUEST_URI}" />
				</rule>
				<!-- All other URLs are mapped to the Node.js application entry point -->
				<rule name="DynamicContent">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
					</conditions>
					<action type="Rewrite" url="server.js" />
				</rule>
			</rules>
		</rewrite>
		<iisnode watchedFiles="common\*.js;node_modules\*;routes\*.js;views\*.jade;views\device\*.jade;views\lenses\*.jade;views\modals\*.jade;*.js;web.config" />
		<staticContent lockAttributes="isDocFooterFileName">
			<remove fileExtension=".json" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".svg" />
			<remove fileExtension=".ttf" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<caching>
			<profiles>
				<add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:01" />
			</profiles>
		</caching>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="*" />
				<add name="Access-Control-Allow-Headers" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>