header
        img.background(src="images/Header.jpg")
        div.row
                img.logo.col-md-12(src="/images/logo2.png")
        div.row
                div.container
                        h1.col-md-12 Cloud4U

section.services.col-md-12
        div.row
                div.container

        div.row.col-md-12
                div.container

section.container.contact
        form
                div.form-group
                        label(for="name") Name
                        input.form-control#name(type="text", name="name")
                div.form-group
                        label(for="email") Email
                        input.form-control#email(type="email", name="email")
                div.form-group
                        label(for="comment") Comment
                        textarea.form-control#comment(rows="5", name="comment")

footer.col-md-12.container
        div