include includes/header.jade
include includes/bootstrap_mixins.jade

div.container-fluid
	div.well
		form.form-horizontal(method="post" action="")
			fieldset
				legend.col-lg-12 Inloggen
				+text-input("username","Gebruikersnaam",{id:"username"})
				+text-input("password","Wachtwoord",{id:"password"})
				+buttons(buttons)

include includes/footer.jade