include ../includes/header.jade
include ../includes/bootstrap_mixins.jade

div.row
        div.col-lg-6.col-lg-offset-3
                div.well
                        form.form-horizontal(method="post" action="/intake/create")
                                fieldset
                                        legend.col-lg-12 Intake Toevoegen
                                        +select("programme", "Opleiding", options)
                                        +select("teacher", "Leraar", options)
                                        +select("student", "Leerling", options)
                                        +select("status", "Status", options)
                                        +multi-input("test", "Test", options)
                                        +radio("form", "Formulier", options)
                                        +buttons(buttons)

include ../includes/footer.jade
